<a href="https://colab.research.google.com/github/SSupriya2501/SSupriya2501/blob/main/Final_project_22nd_May_Version1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import time

plt.style.use(style='seaborn')
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

path = "/content/drive/MyDrive/Corpus_21st_May.csv"
df= pd.read_csv(path , encoding = "UTF-8")
#df=pd.read_csv('all-data.csv',encoding = "windows-1252")
df.head()

   Classes                                           Comments
0        1  Eder niye alochona na korai valo.Era to  sudhu...
1        1  sala janoar Sindoor k o respect dite shekheni ...
2        1              ader lajja,man samman bole kichu nei.
3        1                    Juto mere des theke tarate hobe
4        1                                       Harami...ara

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Classes   259 non-null    int64
 1   Comments  259 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.2+ KB

In [5]:
df.isna().sum()

Classes     0
Comments    0
dtype: int64

In [6]:
df['Classes'].value_counts()

1    78
5    66
2    42
4    39
3    34
Name: Classes, dtype: int64

In [7]:
y=df['Classes'].values
y.shape

(259,)

In [8]:
x=df['Comments'].values
x.shape

(259,)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
(x_train,x_test,y_train,y_test)=train_test_split(x,y,test_size=0.3)

In [11]:
x_train.shape

(181,)

In [12]:
y_train.shape

(181,)

In [13]:
x_test.shape

(78,)

In [14]:
y_test.shape

(78,)

In [15]:
x_train

array(['Ora balchuda lok', 'Ka eii abal ta ....ok amar lolipop jaoya bo',
       'Taka beshi hoye chilo...taii kharoch kore chilo...eii sob meye eii rakom korbe..',
       'Band kora uchit', 'Thik gunijoner moto kotha bolechen.',
       'Tui or jutor oo joggo naa', 'Chi.....ki osovvo',
       'Muslim mey hoye sindur disse lojja nai tor',
       'Sadhasidha akta chele ..... fese gelo', 'Apnar to lojja nai',
       'Juto mere des theke tarate hobe', 'Esob kono kotha naki palthu',
       'Sala tui nongra sala', 'era manush na janoar',
       'Potita theke ara naika',
       'Apnader r kon kaj nai aktu hole ar ektu bariye bolen',
       'Ake ke pochando korechilore', 'Bodmaish er kisher support',
       'Lojja laga dorkar ei charecterless mohilar',
       'Akdom thik bolecho vaiya', 'Choritrohin meye',
       'So nusrat jahan nijei ta shikar koreche.',
       'Ai mohila ekta duscoritra. Je meye proti ratai mod khai se ar ki valo hobe',
       'oke akhon e resignation dite bola uchit..Faltu mohila',
       'Oy principalar aguna puriya mara hok', 'Porimoni akta potita',
       'Eisob faltu khobor naa dekhiye kaaj er jinish dekhan..',
       'Molla mulli ra biye bojhe naki', 'Faltu Chala Maya sob',
       'Eta thik bolechen', 'Nasta magi',
       'Bachal sangbadiktake keu chup korao... Choti chata mal ekta',
       'Bal joto sob vul val golpo kothai pan',
       'Jodi eta Muslim purush aar Hindu mohila hoto taa hole ki ei rokom hote parto??',
       'Allah je toke ki korbe ke jane', 'Shob mittha...',
       'Hay ree Allah.. Muslim hoye hindu k biya kore....kicu boler nai..',
       'Bar bar eki katha',
       'Chi amon heading ka dai... Manus to noi apni tai amon heading diyachan... Kutta bolla o kom apni to ar basi kharap',
       'Or opore fotoya jaari hoyni to?', 'Tui ki koto bhalo',
       'Muslim somajer kolonko akta..',
       'A ki ata valo korecy je muslum thake hindu hoase',
       'ato nongramu jodi ai dhoroner manus ra kore tahole ara sadharon manus ar ki hobe?',
       'Ae dojonei fajil', 'Muslim hole ami korbo',
       'Je nejer dhormer hoy na, sha onno dhormer hoy ki kore?',
       'Ore amr dekte e mon chay na fajil',
       'Bangladesh Police k Juta pita kore Desh Taika biday korte hobe',
       'Bangladesh er police sob gulo jaroj', 'meye ta ki pagol naki?',
       'Ai rokom mohilara somajer dusman', 'ki je sundar muhurta gulo',
       'guli  kore maro', 'Akta valo manush ke thokano holo',
       'Ki joghanya interviewer....kothao boltei dichhena...',
       'Kono mohila k niye eisob khabor na korlei ki noi????',
       'Beiman word ta ei jaater jonno e toiree r eder e manay bhalo.',
       'Ei sarkar er lajja lajja chi',
       'Baah! Etai holo Mamata Banerjeee er Khela hobe..shameless CM',
       ' Asadharan jukti sunlam. Bhalo laglo. Agie jao. Ami khusi.',
       'Ai meyeta ekdom baje muslim theke hindu hoise akhn abr husband rekhe nostami',
       'Nusrat samajer nongra nari.', 'Faltu meye ekta',
       'Eder niye alochona na korai valo.Era to  sudhu sohobas er lok khoje.',
       'Deser obostha khub kharap',
       'Toitho mosolmaner name kolongko jahannami nusrat saitaner bacha',
       'Oshbhoo Januar chara Kichuna nusrat.',
       'Ekhuni ei du-mukho mohila k sangsod pod theke tarano hok.',
       'Onake juto .mere bangla theke ber kore deoa hok',
       'Ei asovho duto K sasti deuya uchi',
       'Akti opodartho interviewer. Otyonto bachal.',
       'Lok sabha te candidature expel kora hok manoniyo lok sabha speaker er dwara',
       'Characterless magi..eta hotoi',
       'Eder upojukto bichar howa ucit. Number one bessa ekta.',
       'Agula sob mittha',
       'Sindoor pore chele khela korchile...Ashobyo mohila',
       'Bangladesh sab ganja khor', 'Akdom thik',
       'Amr ektu o nojor kareni', 'Jake valo lage tar kachei thako.',
       'Are vai ai sob kankir jonno ato news keno ar islamer jonno kichu koren',
       'Ader moto meya mora jaya valo ader jonno desta karap hossa',
       'Oma aki kando', 'Dur baal... Koto taka peychhish?',
       'Joto ajat kujat ese juteche poschim banglai', 'Asadharon avinay',
       'Ato choto chela', 'Eara ki arombo koreche',
       'tahole ato ghota korar ki dorkar chilo',
       'name change kore esechis bhai valo ..',
       'porimondol ke lathi mara hok',
       'Ai rakom sikhito mohila k biye korar theke akta gramer osikhto meye k biye kora anek valo ora sansar korte  ',
       'Jai hok, ebar hindu chhele love jehad er swikar.',
       'Sotti ara kothay chilo ato din ajob prani',
       'Ashlam soytan dakhte',
       'je islam arr soman korte pareni tahe thik allah sasti dibe',
       'Indian Der bapare Bangladeshi Der chodar ki ache nirlojjo jati',
       'Amr mone hoi onake sansod pod theke suspend kora uchit.',
       'TMC ke vote diyechen chi chi chi chi,ki cholche Banglay',
       'Kichui ar bolar nei.......',
       'Ei koekta pagol chodar jonno puro sikkha proti sthaner opoman hoy',
       'Khoon,rape,tolabuzzi tey egiye bangla',
       'Cheleta asolei beadob..babar moto Manush k ki bolte hobe or Jana nai...',
       'Pagole kina bole chhagole kina khai je narir character clean noi tar katha ar keu sunbe na',
       'Ei mohila oti nimnorucir ebong domajer ebong somogro narijatir kolonko, soja kotha chotolok.',
       ' Hare bojjat sa li, hindu riti nitir opoman kore gelo ato din.',
       'Khela hoche', 'O ra Bokachada', 'Ekdam th√¨k tomar katha',
       'Abal marka sanbadik ar abal marka porimoni',
       'Dada, eta sera diyechho. Evabei egiye jao. Chaliye jao',
       'Joto ajat kujat ese juteche poschim banglai',
       'Eta reverse love jihad er case....example banano uchit....tar opor bangladeshi onuprobeshkari',
       'Akhon ki obostha...', 'Darun amar khub valo laglo',
       'Nongra meyechele ekta... Asobhyo',
       'Bajaru nari  . Nari jatir kalanka', 'Tumi amar bal r golpo lakso',
       'Goru chr montry abar lal bathi gari neay jay',
       'Ai sala to dakhi pagol,,,',
       'Bhai ai harami take kothi pabo bhai bolte parba', 'valo lage na',
       'Ei khankir ki hindu chara muslim valo laghe na ...',
       'Ei  luccha shikkhoker Fasi chai..', 'Sabe thaka suru',
       'Muslims der ai sob roj kar ghotona', 'Sothik bichar hok',
       'Sob natok', 'Cheleta beche gache...', 'Akdom thik bolecho vaiya',
       'Non Muslim khanki hindu magi',
       'Ei to dadu eto din a thik kotha bolechen',
       'Ki hocche bojha mushkil.....',
       ' Etai ki Khela amader sanskritir sathe',
       'Agun r mom jakhan ek sathey hoy takhan ja hoy setai',
       'Mukhea jutho diyea Bari daoo', 'Behaya belojji',
       'Lojja koray na , akta bia koray ,abar bia korli chorttrohin',
       'Ato valo to abar charchos kn khacchor mohila mainser guta na khaite parle valo lagena',
       'Sala arober gulam pichiye pora jati abar Bangla te kotha bolchis keno be Urdu bol Urdu',
       'Baydob er baccha  tor moto kuttar bechar koruk allah',
       'are apni to boltei den na', 'Ara naki aamader neta!',
       'Hat tui ki koran dotto ar sata tulona korchis..',
       'Islam dhormo mote bia ta hoine. Karon islam a kono muslim hinduke bia kora haram.',
       ' Cheater  er baro sasti hoa uchit',
       'Ei merechhe onno loke utheche', 'Baje meye',
       'Eder aabar biye. Ki dorkar jolghola korar. Divorce niye ne na',
       'Harami...ara',
       'Bisakto saap ja cinema naika gulo tai.era paisa jonno sab kichi korte pare.',
       'Thik hoeche', 'Joto sob baje kotha', 'pagol er prolap',
       'Eder jonno Sabi asombhob ke sambhob kara jay karo eder saported Sarkar ache',
       '...bangalee der bodnam kore charlo', 'Akdom bhalo lage na.',
       'Sala ke jutor mala porano dorkar',
       'Ara bessa nari ader jonno samaj kulosito hochche', 'Fajil',
       'Pori holo bangladesher ak numbar noti.', 'Apni to paren ni',
       'Mithyabadi sansod.',
       'akjon  muslim  meye  hoye   se    kajta   thik  koreni',
       'Nirlojjo TMC voters ra koi?',
       'Eder ke pakistan patha.Ederke ukraine patha',
       '...bangalee der bodnam kore charlo', 'Bangali manei nonra',
       'Seta tar nijer parsonal matter',
       'Sudhu namei Muslim.kaje ba jate kichui na.',
       'Nongra meyemanush akta jachetai',
       'thik bolechen . Apnar protakta kothar  jukti  ache.',
       'Thik kotha bolechen dada', 'Sala pagol zontu',
       'Mamata Banerjee Cm er joggo noy...Chi',
       'Ato kharap .meyeder  naame kolonko.', 'Musalman to beiman hobei',
       'faltu actress ar ki maya name.kolonkito',
       'khanki magi hindu magi', 'Didi apner tulona hai na'], dtype=object)

In [16]:
df1=pd.DataFrame(x_train)
df1=df1.rename(columns={0:'Comments'})

df2=pd.DataFrame(y_train)
df2=df2.rename(columns={0:'Classes'})
df_train=pd.concat([df1,df2],axis=1)

df_train.head()

                                            Comments  Classes
0                                   Ora balchuda lok        1
1        Ka eii abal ta ....ok amar lolipop jaoya bo        1
2  Taka beshi hoye chilo...taii kharoch kore chil...        2
3                                    Band kora uchit        5
4                Thik gunijoner moto kotha bolechen.        5

In [17]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Comments  181 non-null    object
 1   Classes   181 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.0+ KB

In [18]:
df3=pd.DataFrame(x_test)
df3=df3.rename(columns={0:'Comments'})

df4=pd.DataFrame(y_test)
df4=df2.rename(columns={0:'Classes'})
df_test=pd.concat([df3,df4],axis=1)

df_test.head()

                                            Comments  Classes
0                                               Thik        1
1  Ai rakam mp thakle deser barota tor galay dari...        1
2  Lok eder k vote debar somoi ki andho boba Kala...        2
3                           Are hoyechen  haramjadha        5
4  Dhemni k kapor tule kela, sali kothakar, eii  ...        5

In [19]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Comments  78 non-null     object
 1   Classes   181 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.0+ KB

In [20]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [21]:
#defining the function to remove punctuation
def remove_punctuation(text):
  if(type(text)==float):
    return text
  ans=""  
  for i in text:     
    if i not in string.punctuation:
      ans+=i    
  return ans

#storing the puntuation free text in a new column called clean_msg
df_train['Comments']= df_train['Comments'].apply(lambda x:remove_punctuation(x))
df_test['Comments']= df_test['Comments'].apply(lambda x:remove_punctuation(x))

In [22]:
df_train.head()
#punctuations are removed from comments column in train dataset

                                            Comments  Classes
0                                   Ora balchuda lok        1
1            Ka eii abal ta ok amar lolipop jaoya bo        1
2  Taka beshi hoye chilotaii kharoch kore chiloei...        2
3                                    Band kora uchit        5
4                 Thik gunijoner moto kotha bolechen        5

In [23]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [24]:
def generate_N_grams(text,ngram=1):
  words=[word for word in text.split(" ") if word not in set(stopwords.words('english'))]  
  print("Sentence after removing stopwords:",words)
  temp=zip(*[words[i:] for i in range(0,ngram)])
  ans=[' '.join(ngram) for ngram in temp]
  return ans

In [25]:
#sample!
generate_N_grams("The sun rises in the east",2)

Sentence after removing stopwords: ['The', 'sun', 'rises', 'east']

['The sun', 'sun rises', 'rises east']

In [26]:
from collections import defaultdict

In [27]:
class1Values=defaultdict(int)
class2Values=defaultdict(int)
class3Values=defaultdict(int)
class4Values=defaultdict(int)
class5Values=defaultdict(int)
#get the count of every word in both the columns of df_train and df_test dataframes

In [28]:
#get the count of every word in both the columns of df_train and df_test dataframes where sentiment="positive"
for text in df_train[df_train.Classes=="1"].Comments:
  for word in generate_N_grams(text):
    class1Values[word]+=1

In [29]:
#get the count of every word in both the columns of df_train and df_test dataframes where sentiment="positive"
for text in df_train[df_train.Classes=="2"].Comments:
  for word in generate_N_grams(text):
    class2Values[word]+=1

In [30]:
#get the count of every word in both the columns of df_train and df_test dataframes where sentiment="positive"
for text in df_train[df_train.Classes=="3"].Comments:
  for word in generate_N_grams(text):
    class3Values[word]+=1

In [31]:
#get the count of every word in both the columns of df_train and df_test dataframes where sentiment="positive"
for text in df_train[df_train.Classes=="4"].Comments:
  for word in generate_N_grams(text):
    class4Values[word]+=1

In [32]:
#get the count of every word in both the columns of df_train and df_test dataframes where sentiment="positive"
for text in df_train[df_train.Classes=="5"].Comments:
  for word in generate_N_grams(text):
    class5Values[word]+=1

In [34]:
#focus on more frequently occuring words for every class=>
#sort in DO wrt 2nd column in each of class1Values,class2Values and class3Values
df_class1=pd.DataFrame(sorted(class1Values.items(),key=lambda x:x[1],reverse=True))
df_class2=pd.DataFrame(sorted(class2Values.items(),key=lambda x:x[1],reverse=True))
df_class3=pd.DataFrame(sorted(class3Values.items(),key=lambda x:x[1],reverse=True))
df_class4=pd.DataFrame(sorted(class4Values.items(),key=lambda x:x[1],reverse=True))
df_class5=pd.DataFrame(sorted(class5Values.items(),key=lambda x:x[1],reverse=True))

In [37]:
pd1=df_class1[0][:10]
pd2=df_class1[1][:10]

KeyError: ignored