<a href="https://colab.research.google.com/github/SSupriya2501/SSupriya2501/blob/main/May22nd_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import time

plt.style.use(style='seaborn')
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# import pandas
import pandas as pd

path = "/content/drive/MyDrive/Corpus_21st_May.csv"
df= pd.read_csv(path , encoding = "UTF-8")
#df=pd.read_csv('all-data.csv',encoding = "windows-1252")
df.head()

   Classes                                           Comments
0        1  Eder niye alochona na korai valo.Era to  sudhu...
1        1  sala janoar Sindoor k o respect dite shekheni ...
2        1              ader lajja,man samman bole kichu nei.
3        1                    Juto mere des theke tarate hobe
4        1                                       Harami...ara

In [5]:
# import libraries
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

# rename columns
df.columns = ['Classes', 'Comments']

# remove missing values
df = df.dropna()

# encode target label
le = LabelEncoder()
df['Classes'] = le.fit_transform(df['Classes'])

# establish input and output
X = list(df['Comments'])
y = list(df['Classes'])

# split data into training and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

# create a bag of words for only unigrams
cv = CountVectorizer(analyzer = 'word',ngram_range=(1,1), stop_words='english')

# convert training data to bag of words
X_train_cv = cv.fit_transform(X_train)
X_test_cv = cv.transform(X_test)

In [7]:
# import libraries
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import f1_score

# train naive bayes classifier
clf = MultinomialNB()
clf.fit(X_train_cv, y_train)

# create predictions
y_pred = clf.predict(X_test_cv)

# find f-1 score
score = f1_score(y_test, y_pred, average='micro')
print('F-1 score : {}'.format(np.round(score,4)))

F-1 score : 0.4462

In [8]:
# create a bag of words for with unigrams and bigrams
cv = CountVectorizer(analyzer = 'word',ngram_range=(1,2), stop_words='english')

# convert training data to bag of words
X_train_cv = cv.fit_transform(X_train)
X_test_cv = cv.transform(X_test)


# train naive bayes classifier
clf = MultinomialNB()
clf.fit(X_train_cv, y_train)

# create predictions
y_pred = clf.predict(X_test_cv)

# find f-1 score
score = f1_score(y_test, y_pred, average='micro')
print('F-1 score : {}'.format(np.round(score,4)))

F-1 score : 0.4769

In [9]:
# train model with different n-gram ranges
for N in range(1,11):
    
    # convert training data to bag of words
    cv = CountVectorizer(analyzer = 'word',ngram_range=(1,N), stop_words='english')
    X_train_cv = cv.fit_transform(X_train)
    X_test_cv = cv.transform(X_test)
    
    # train model and generate predictions
    clf = MultinomialNB()
    clf.fit(X_train_cv, y_train)
    y_pred = clf.predict(X_test_cv)
    
    # compute f-1 score
    score = np.round(f1_score(y_test, y_pred, average='micro'),4)
    print('F-1 score of model with n-gram range of {}: {}'.format((1,N), score))

F-1 score of model with n-gram range of (1, 1): 0.4462
F-1 score of model with n-gram range of (1, 2): 0.4769
F-1 score of model with n-gram range of (1, 3): 0.4923
F-1 score of model with n-gram range of (1, 4): 0.4923
F-1 score of model with n-gram range of (1, 5): 0.4615
F-1 score of model with n-gram range of (1, 6): 0.4615
F-1 score of model with n-gram range of (1, 7): 0.4615
F-1 score of model with n-gram range of (1, 8): 0.4615
F-1 score of model with n-gram range of (1, 9): 0.4615
F-1 score of model with n-gram range of (1, 10): 0.4615